{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-content">
  {% if object %}
    <h1>Edit Profile</h1>


    <div class="card-panel">
      <span class="small-title">Profile Photo:<form action="{% url 'add_photo_profile' profile.id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload New">
    </form>
    </div>
  {% else %}
    <h1>Create Profile</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="center"><input type="submit" value="Submit!" class="btn"></div>
  </form>
  </div>
    </div>
    <script>  
    
    var selectEl = document.getElementById('id_sex');
    M.FormSelect.init(selectEl);
    var selectEl = document.getElementById('id_activity_level');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}