:root {
  --white: #F7F6F5;
  --green: #5E8461;
  --yellow: #EAA51D;
  --red: #A1423F;
  --dark: #252930;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Hind Madurai', sans-serif;
  }

nav{
  background-color: var(--yellow);
}

.left {
  float: left;
  font-family: 'Righteous', cursive;
}
  
main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  background-color: var(--dark);
}
