:root {
  --white: #F7F6F5;
  --red: #A1423F;
  --dark: #252930;
  --bluegray: #949EA0;
  --yellow: #F1E76F;
  --darkg: #2D2E32;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Hind Madurai', sans-serif;
  background-image: url("https://i.imgur.com/pW4kGIM.jpg");
  background-color: var(--bluegray);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--darkg);
}

.container {
  margin: 30px auto;
}

nav {
  background-color: rgba(45, 46, 50, 0.8);
  box-shadow: transparent;
}

.sidenav {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 30px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--darkg);
}

.brand-logo {
  font-family: 'Righteous', cursive;
}

.sidenav {
  height: auto;
  padding-top: 0;
  padding-bottom:0;
}

main {
  flex: 1 0 auto;
}

.collection {
  margin: 0 0;
}

.card {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 1), 0 4px 25px 0px rgba(0, 0, 0, 0.4), 0 8px 10px -5px rgba(0, 0, 0, 0.6);
}

.meal-card, .activity-card, .collection-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 16px 38px -12px, rgba(0, 0, 0, 0.12) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
}

label, th, .small-title {
  font-size: 1rem;
  color: var(--darkg);
}

tr {
  border-bottom: none;
}

.btn:hover, .btn:active {
  background-color: #ffee58;
}

.btn, .datepicker-date-display, .datepicker-table td.is-selected {
  background-color: var(--yellow);
}

.dropdown-content li>a, .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: var(--darkg);
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--darkg);
  box-shadow: 0 1px 0 0 var(--darkg);
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--darkg);
}

.dropdown-content li>a, .dropdown-content li>span {
  color: var(--darkg);
}

.collection .collection-item {
  padding: 10px 10px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection .collection-item i {
  padding-right: 5px;
}

footer.page-footer {
  padding-top: 0;
  background-color: var(--dark);
}

.valign-wrapper {
  height: 80vh;
}