{% extends 'base.html' %}
{% block content %}


<!-- <h1 class="center">{{ profile.first_name }}'s Profile</h1> -->

<h1>hello, {{profile.first_name}}!</h1>
<h2>what did you do today gang?</h2>
<div class="row">

  <div class="col s10 offset-s1 m4 l4">

    <!-- User profile info -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{profile.first_name}} {{profile.last_name}}</span>
        <div class="card-panel">

          <img class="responsive-img" src="{{ profile.profilephoto_set.last }}">

        </div>
        <p>Height: {{ profile.height }}</p>
        <p>Weight: {{ profile.weight }}</p>
        <p>Sex: {{ profile.sex }}</p>
        <p>Activity Level: {{ profile.activity_level }}</p>
      </div>
    </div>

    <!-- Calorie counter -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">CALORIE COUNTER</span>
    <ul class="collection">
      <li class="collection-item">
        <i class="material-icons">adjust</i>
        {% if profile.sex == 'F' %} 
        <span class="title">Suggested calories: {{ suggested_cal_female }}</span>
        {% else %}
        <span class="title">Suggested calories: {{ suggested_cal_male }}</span>
        {% endif %}
      </li>

      <li class="collection-item">
        <i class="material-icons">local_dining</i>
        <span class="title">Calories Consumed: {{ total_calories }}</span>
      </li>

      <li class="collection-item">
        <i class="material-icons">fitness_center</i>
        <span class="title">Calories Burned: {{ burned_calories }}</span>
      </li>
    </ul>
    </div>
    </div>

              
    <div class="card">
      <div class="card-content">
        <span class="card-title">CALORIE COUNTER</span>
        {% if profile.sex == 'F' %} 
        <p>Suggested calories per day: {{ suggested_cal_female }}</p>
    {% else %}
        <p>Suggested calories per day: {{ suggested_cal_male }}</p>
    {% endif %}
        <p>{{ total_calories }} calories consumed</p>
        <p>{{ burned_calories }} calories burned</p>
      </div>
    </div>

  </div>



  <div class="col s12 m8 l7 offset-l1">

    <!-- Meal Info -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">MEALS</span>

        <!-- Add meal -->
        <form action="{% url 'add_meal' profile.id %}" method="post">
          {% csrf_token %}
          {{ meal_form.as_p }}
          <input type="submit" class="btn" value="Add Meal">
        </form>

        <br>
        <div class="divider"></div>
        <br>

        <!-- New view meal-->
        {% for meal in profile.meal_set.all %}
        <div class="card meal-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ meal.mealphoto_set.last.url }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ meal.name }}<i
                class="material-icons right">expand_less</i></span>
            <p><a class="btn" href="{% url 'update_meal' meal.id %}"><i class="large material-icons">edit</i></a>
              <a class="red-text text-darken-3" href="{% url 'delete_meal' meal.id %}">Delete</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ meal.name }}<i class="material-icons right">expand_more</i></span>
            <p>Date: {{meal.date}}</p>
            <p>Ingredients: {{meal.ingredients}}</p>
            <p>Calories: {{meal.calories}}</p>
            <form action="{% url 'add_photo_meal' meal.id %}" enctype="multipart/form-data" method="POST"
                  class="card-panel">
                  {% csrf_token %}
                  <input type="file" name="photo-file">
                  <br><br>
                  <input type="submit" class="btn" value="Upload Photo">
                </form>
          </div>
        </div>
      {% endfor %}


      </div>
    </div>

    <!-- Activity info -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">ACTIVITIES</span>

        <table class="striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Activity Type</th>
              <th>Intensity</th>
              <th>Duration</th>
              <th>Calories Burned</th>
            </tr>
          </thead>
          <tbody>
            {% for activity in profile.activity_set.all %}
            <tr>
              <td>{{ activity.date }}</td>
              <td>{{ activity.type_activity }}</td>
              <td>{{ activity.activity_intensity }}</td>
              <td>{{ activity.duration }}</td>
              <td>{{activity.calories_burned}}</td>
              <td>
                <a class="btn" href="{% url 'update_activity' activity.id %}"><i
                    class="large material-icons">edit</i></a>
                <a class="red-text text-darken-3" href="{% url 'delete_activity' activity.id %}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'activity_create' profile.id %}">Add Activity</a>
      </div>
    </div>
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}